<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ceramicas del oeste | Edicion de Producto </title>


  <link href="/stylesheets/header.css" rel="stylesheet">
  <link href="/stylesheets/editionProduct.css" rel="stylesheet">
  <link href="/stylesheets/footer.css" rel="stylesheet">

  <a>
    <script src="https://kit.fontawesome.com/ae1423e40e.js" crossorigin="anonymous"></script>
  </a>
</head>

<body>
  <%- include('./partials/header',) %>
</body>
<main>
  <div>

    <form action="/products/update/<%= product.id %>?_method=PUT " method="POST" id="editionProduct">
      <h4>Edicion de Producto</h4>
      <div class="input-field">
        <input type="text" id="name" name="name" value="<%= product.name %> ">
        <label for="name" class="">Nombre del producto:</label>
        <p id="nameMsg"></p>
      </div>

      <h4>Datos tecnicos</h4>
      <div class="input-field">
        <input type="color" id="color" name="color" value="<%= product.color %> ">
        <label> Gama de color </label>
        <p id="colorMsg"></p>
      </div>
      <div class="input-field">
        <input type="text" name="style" id="style" value="<%= product.style %> ">
        <label> Estilo </label>
        <p id="styleMsg"></p>
      </div>
      <div class="input-field">
        <input type="text" name="dimensions" id="dimension" value="<%= product.dimension %> ">
        <label> Dimensiones </label>
        <p id="dimensionMsg"></p>
      </div>
      <div class="input-field">
        <input type="text" name="recomendation" id="recomendation" value="<%= product.recomendation %> ">
        <label> Recomendaciones de uso </label>
        <p id="recomendationMsg"></p>
      </div>
      <div class="input-field">
        <input type="text" name="discount" id="discount" value="<%= product.discount %> ">
        <label> Descuento </label>
        <p id="discountMsg"></p>
      </div>
      <div class="input-field">
        <input type="text" name="pei" id="pei" value="<%= product.pei %> ">
        <label> Tipo de transito(Pei) </label>
        <p id="peiMsg"></p>
      </div>
      <div class="input-field">
        <input type="text" name="transit" id="transit" value="<%= product.transit %> ">
        <label> Tipo de transito </label>
        <p id="transitMsg"></p>
      </div>
      <div class="input-field">
        <input type="text" id="model" name="model" value="<%= product.model %> ">
        <label> Modelo </label>
        <p id="modelMsg"></p>
      </div>
      <div class="input-field">
        <input type="text" name="form" value="<%= product.form %> ">
        <label> Forma de venta </label>

      </div>
      <div class="input-field">
        <input type="text" name="origin" value="<%= product.origin %> ">
        <input type="text" name="origin" id="origin" value="<%= product.origin %> ">
        <label> Origen </label>
        <p id="originMsg"></p>
      </div>

      <div class="input-field">
        <label>Precio</label>
        <input class="form-control <%= locals.errors && errors.price ? 'is-invalid' : null %>" id="price" type="number"
          name="price" value="<%= product.price %>">
        <p class="text-danger">
          <%= locals.errors && errors.price ? errors.price.msg : null %>
        </p>
        <p id="priceMsg"></p>

      </div>
      <div class="input-field">
        <input type="number" name="box" id="box" value="<%= product.box %> ">
        <label>Precio x caja</label>
        <p class="text-danger">
          <%= locals.errors && errors.price? errors.price.msg : null %>
        </p>
        <p id="boxMsg"></p>

      </div>


      <div class="input-field">
        <input type="text" name="code" id="code" value="<%= product.code %> ">
        <label for="code">Codigo del producto</label>
        <p class="text-danger">
          <%= locals.errors && errors.code? errors.code.msg : null %>
        </p>
        <p id="codeMsg"></p>

      </div>


      <div class="input-field">
        <label for="category">Categoría</label>
        <select name="categoryId" id="category">
          <option value="baños" <%=product.category==="baños" && 'selected %>>Baños</option>
        <option value="exterior" <%= product.category === "exterior" && ' selected %>>Exterior</option>
          <option value="interior" <%=product.category==="interior" && 'selected %>>Interior</option>  
      </select>
      <p id="categoryMsg"></p>

      <p class="text-danger"><%= locals.errors && errors.category ? errors.category.msg : null %></p>
   
    </div>
 

        <div class="fotos">
          <h4>Fotos del producto</h4>
          <!-- <form name="imgAdd" type="POST" enctype="multipart/form-data"> -->
          <input type="file" name="images" id="images" class="importar__img" multiple />
          <p class="text-danger"><%= locals.errors && errors.imgAdd ? errors.imgAdd.msg : null %></p>

          <p id="imagePrev"></p>
        </div>





   <div class="input-field">

    <textarea class="form-control <%= locals.errors && errors.description ? ' is-invalid' : null %>" name="description"
            id="description" cols="30" rows="5" style="resize: none;"><%= product.description %></textarea>
              <p class="text-danger">
                <%= locals.errors && errors.description ? errors.description.msg : null %>
              </p>
              <p id="descriptionInfo" hidden><span id="numberCharacters"></span> disponibles</p>
              <label>Descripción</label>

      </div>
     

     <button type="submit" id="editionProductButton">Guardar
          Cambios</button>
      <p id="msgEditionError"></p>
  </div>
  </form>
  </div>
</main>
<%- include("./partials/footer") %>
  <script src="/javascripts/editionProduct.js"></script>
  </body>

</html>