<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceramicas del oeste | <%- title %> </title >

    <link   href="/stylesheets/index.css" rel="stylesheet">
    <link   href="/stylesheets/header.css" rel="stylesheet">
    <link   href="/stylesheets/footer.css" rel="stylesheet">

 <a>   <script src="https://kit.fontawesome.com/ae1423e40e.js" crossorigin="anonymous"></script></a>
</head>
<body class="index__body">
<%- include('./partials/header',) %>
 <main class="index__main">
  <div class="wrapper">
    <div class="slider" id="slider">
      <ul class="slides">

        <li class="slide" id="slide2">
          <a href="#">
            <p class="caption">Ceramicas Del oeste</p>
            <img src="/img/banner-30x60.webp" alt="photo 2">
          </a>
        </li>
        <li class="slide" id="slide3">
          <a href="#">
            <p class="caption">Ceramicas Del oeste</p>
            <img src="/img/banner-45x45.webp" alt="photo 3">
          </a>
        </li>
        <li class="slide" id="slide4">
          <a href="#">
            <p class="caption">Ceramicas Del oeste</p>
            <img src="/img/images (1).jpg" alt="photo 4">
          </a>
        </li>
        <li class="slide" id="slide5">
          <a href="#">
             <p class="caption">Ceramicas Del oeste</p>
             <img src="/img/images.jpg" alt="photo 5">
          </a>
        </li>
        <li class="slide">
          <a href="#">
            <p class="caption">Ceramicas Del oeste</p>
            <img src="/img/mykonosceramica-scala-luxury.jpg" alt="photo 1">
          </a>
        </li>
      </ul>
      <ul class="slider-controler">
        <li><a href="#slide1">&bullet;</a></li>
        <li><a href="#slide2">&bullet;</a></li>
        <li><a href="#slide3">&bullet;</a></li>
        <li><a href="#slide4">&bullet;</a></li>
        <li><a href="#slide5">&bullet;</a></li>
      </ul>
    </div>
  </div>
 

<article class="index__main__section__article">
     <div class="index__main__section__article__clases">
      <a href="/products/filterProducts?category=interior">
    <div class="interiores">
        <h2>Interiores</h2>
        <img src="/images/exterior.jpg" alt="">
        <p><a href=""></a></p>
    </div>
  </a>
  <a href="/products/filterProducts?category=exterior">
    <div class="exteriores">
        <h2>Exteriores</h2>
        <img  src="/images/exterior.jpg" alt="">
        <p><a href=""></a></p>
    </div>
  </a>
    <a href="">
    <div class="ba単os">
        <h2>Ba単os</h2>
        <img src="/images/ba単o.jpg" alt="">
        <p><a href="/products/filterProducts?category=ba単os"></a></p>
    </div>
     </div>
  </a>
  </article> 
  <h2>Ofertas</h2>
  <article class="ofertas">
    <% productsDiscount.forEach(({images, model, name, id}) => { %>
      <div class="caja__oferta">
        <img src="/images/<%= images[0] ? images[0].file : 'default.jpg' %>" alt="" width="200px">
        <p><%= name %> <%= model %> </p>
        <a href="/products/productDetail/<%= id %>"><p>ver mas</p></a>
       </div>
    <% }) %>
  
   
  </article>
  <h2>Nuevos Productos</h2>
  <article class="ofertas">

    <% productsNewest.forEach(({images, name, model,id}) => { %>
      <div class="caja__oferta">
        <img src="/images/<%= images[0] ? images[0].file : 'default.jpg' %>" alt="" width="200px">
        <p><%= name %> <%= model %> </p>
        <a href="/products/productDetail/<%= id %>"><p>ver mas</p></a>
       </div>
    <% }) %>
  
   
  </article>

 </main>   
    
<%- include("./partials/footer") %> 
<%- include('./partials/scripts') %> 
</body>

</html>