<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceramicas del oeste | Detalle de Producto </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/stylesheets/productDetail.css" rel="stylesheet">
    <link   href="/stylesheets/header.css" rel="stylesheet">
    <link   href="/stylesheets/footer.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ae1423e40e.js" crossorigin="anonymous"></script>
</head>

<body class="bg-verde">
    <%- include('./partials/header') %>
        <main class="detail__main">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-4">
                    <img id="imgPrimary" class="img-fluid" src="/images/<%= product.images[0].file %>" alt="">

                    <article class="d-flex justify-content-between mt-3">
                        <% product.images.forEach(img => { %>
                            <img width="90" src="/images/<%=img.file %>" alt="" style="cursor: pointer;" onclick="document.getElementById('imgPrimary').src = this.src">
                        <% }) %>
                    </article>
                </div>
         


                    <div class="col-12 col-md-7 col-lg-8">
                            <h1 class="Descripcion__titulo__name">
                                <%= product.name %>
                            </h1>
                            <p class="codigo">Codigo: <%= product.code %>
                            </p>
                            <div class="d-flex justify-content-between">
                                <h3 class="Descripcion__titulo__name__precio">
                                    $ <%= product.price %> m2
                                    </h3>
                               
        
                              
                            </div>                  
                            <h6>
                                $ <%= product.box %> x caja
                            </h6>
                        <p class="my-3" style="text-transform: capitalize;">
                            <%= product.description %>
                        </p>
                        <div class="icons">
                            <button class="btn btn_primary" onclick="addCartItem('<%=product.id%>')" >Agregar al Carrito</button></a>
                        </div>
                        <% if (locals.userLogin) { %>

                         <% if (locals.userLogin.rolId === 1) { %>
                            <a class="btn btn_success" href="/products/editionProduct/<%= product.id %>">Editar producto</a>
                            <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                                <button class="btn btn_danger" type="submit">Eliminar producto</button>
                            </form>
                         <% } %>
                        <% } else { %>
                        <% } %>

                        </div>
                       
                    </div>
            </div>



            <div class="row mt-4">
                    <h3 class="col-12 ">Detalle técnicos</h3>
                    <hr>
                    <ul class="list-group col-12 col-md-6">
                        <li class="list-group-item"><b>Gama de color:</b> <%= product.color %>
                        </li>
                        <li class="list-group-item"><b>Estilo:</b> <%= product.style %>
                        </li>
                        <li class="list-group-item"><b>PEI:</b> <%= product.pei %>
                        </li>
                      
                    </ul>
                    <ul class="list-group col-12 col-md-6">
                        <li class="list-group-item"><b>Tipo de transito:</b> <%= product.transit %>
                        </li>
                       
                      
                        <li class="list-group-item"><b>Modelo:</b> <%= product.model %>
                        </li>
                      
                        <li class="list-group-item"><b>Origen:</b> <%= product.origin %>
                        </li>
                    </ul>
                    <ul class="list-group col-12 mt-3">
                        <li class="list-group-item"><b>Recomendaciones de uso:</b> <%= product.recomendation %>
                        </li>
                    </ul>
                    <div class="col-12 mt-3">
                        <ul class="" >
                            
                            <li style="list-style-type:square;">
                                El precio corresponde al precio para el pago de 1 (una) cuota con tarjeta de crédito.
                            </li>
                            <li style="list-style-type: square;">
                                  Envío a domicilio disponible sólo para Capital Federal y Gran Buenos Aires. Microcentro y
                            zonas de acceso restringido, las entregas son de 7:00 a 9:00 hs.
                            </li>
                            <li style="list-style-type: square;">
                                Las entregas a domicilio se realizarán siempre en el camión. Deberás contar con
                                personal para la descarga de material
                            </li>
            
                           </ul>
                    </div>
            
              </div>

            </div>
          
        </main>
        <%- include("./partials/footer") %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
                crossorigin="anonymous"></script>
        <%- include('./partials/scripts') %> 
</body>

</html>