<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ceramicas del oeste | Edicion de Producto </title >
 
        
        <link   href="/stylesheets/header.css" rel="stylesheet">
        <link   href="/stylesheets/editionProduct.css" rel="stylesheet">
        <link   href="/stylesheets/footer.css" rel="stylesheet">

     <a>   <script src="https://kit.fontawesome.com/ae1423e40e.js" crossorigin="anonymous"></script></a>
    </head>
<body>
    <%- include('./partials/header',) %>
</body>
<main>
<div >
   
    <form action="/products/update/<%= product.id %>?_method=PUT " method="POST" id="editionProduct">
      <h4>Edicion de Producto</h4>
       <div class="input-field">
        <input type="text" id="name" name="name"  value="<%= product.name %> ">
        <label for="name" class="">Nombre del producto:</label>
        <p id="nameMsg"></p>
       </div>
       <h4>Datos tecnicos</h4>
                  <div class="input-field">
                    <input type="color"  id="color" name="color" value="<%= product.color %> ">
                     <label> Gama de color </label>
                     <p id="colorMsg"></p>
                   </div> 
                   <div class="input-field">
                     <input type="text" name="style" id="style"  value="<%= product.style %> ">
                     <label> Estilo </label>
                     <p id="styleMsg"></p>
                   </div> 
                   <div class="input-field">
                     <input type="text" name="dimensions" id="dimension" value="<%= product.dimension %> ">
                     <label> Dimensiones </label>
                     <p id="dimensionMsg"></p>
                   </div> 
                   <div class="input-field">
                     <input type="text"  name="recomendation" id="recomendation"  value="<%= product.recomendation %> ">
                     <label> Recomendaciones de uso </label>
                     <p id="recomendationMsg"></p>
                   </div> 
                   <div class="input-field">
                    <input type="text"  name="discount" id="discount"  value="<%= product.discount %> ">
                    <label> Descuento </label>
                    <p id="discountMsg"></p>
                  </div> 
                   <div class="input-field">
                     <input type="text"  name="pei" id="pei"  value="<%= product.pei %> ">
                     <label> Tipo de transito(Pei) </label>
                     <p id="peiMsg"></p>
                   </div> 
                   <div class="input-field">
                     <input type="text"  name="transit" id="transit" value="<%= product.transit %> ">
                     <label> Tipo de transito  </label>
                     <p id="transitMsg"></p>
                   </div> 
                   <div class="input-field">
                     <input type="text" id="model" name="model"  value="<%= product.model %> ">
                     <label> Modelo </label>
                     <p id="modelMsg"></p>
                   </div> 
                   <div class="input-field">
                     <input type="text"  name="origin" id="origin" value="<%= product.origin %> ">
                     <label> Origen </label>
                     <p id="originMsg"></p>
                   </div>   
     <div class="input-field">
        <input type="number"  name="price" id="price"  value="<%= product.price %> ">
        <label>Precio</label>
        <p id="priceMsg"></p>
     </div>
     <div class="input-field">
        <input type="number" id="box"  name="box"   value="<%= product.box %> ">
        <label>Precio x caja</label>
        <p id="boxMsg"></p>
     </div>
    
    
     <div class="input-field">
        <input type="text" id="code" name="code"  value="<%= product.code %> ">
        <label>Codigo del producto</label>
        <p id="codeMsg"></p>
     </div>
     <div class="input-field">
      <label for="category">Categoría</label>
      <select name="categoryId" id="category"><option value="baños">Baños</option><option value="interior">Interior</option><option value="exterior">exterior</option></select>
       <option <%= product.category %> ></option>
      <p id="categoryMsg"></p>
   </div>
   <div class="input-field">
  <textarea type="text"  id="description" name="description" class="form-input" value="<%= product.description %> "></textarea>></textarea>
          <label>Descripción</label><p id="descriptionInfo" hidden><span id="numberCharacters"></span> disponibles</p>
						<p id="descriptionMsg"></p>
   
 </div>
       <div class="fotos">
        <h4>Fotos del producto</h4>
        <!-- <form name="imgAdd" type="POST" enctype="multipart/form-data"> -->
          <input type="file" name="images" id="images" class="importar__img" multiple/>
         <p id="imagePrev"></p>
       </div>
      
        
       <div class="button">
          
          <a href="/products/productDetail/<%= product.id %> "><button type="submit" id="editionProductButton" >Guardar Cambios</button></a>
          <p id="msgEditionError"></p>
        </div>
      </form>
</div>
    </main>
    <%- include("./partials/footer") %> 
    <script src="/javascripts/editionProduct.js"></script>
   </body>
</html>