<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ceramicas del oeste | <%- title %> </title >
 
        <link   href="/stylesheets/register.css" rel="stylesheet">
        <link   href="/stylesheets/header.css" rel="stylesheet">
        <link   href="/stylesheets/footer.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <a>   <script src="https://kit.fontawesome.com/ae1423e40e.js" crossorigin="anonymous"></script></a>
    </head>
<body class="registro">
    <%- include('./partials/header',) %>
    <main class="card">
        <section class="registro__main__section">
            <h1>Perfil de Usuario</h1>
            <hr class="mb-5">
           

            

   
            <form action="/users/update?_method=PUT" method="POST" enctype="multipart/form-data" class="row" id="profile">
          
                
                
                <div class="input-field col-12 col-md-6">
                    <label class="colorLabek" for="nombre" >Nombre*</label>
                    <input class="form-control" type="text" placeholder="nombre" id="name" name="firstname" value="<%= user.firstname %>">
                    <p id="nameMsg"></p>
                    <p class="form_error_msg"><%= locals.errors && errors.firstname? errors.firstname.msg : null%> </p>
                </div>
                <div class="input-field col-12 col-md-6">
                    <label class="colorLabek" for="apellido" >Apellido*</label>
                    <input class="form-control" type="text" placeholder="apellido" id="surname" name="lastname" value="<%= user.lastname %>">
                    <p id="surnameMsg"></p>
                    <p class="form_error_msg"><%= locals.errors && errors.lastname? errors.lastname.msg : null%> </p>
                </div>
                <div class="input-field col-12 col-md-6">
                    <label class="colorLabek" for="nacionalidad" >Nacionalidad</label>
                    <input class="form-control" type="text" placeholder="Seleccionar" id="nacionality" name="nacionality" value="<%= user.nacionality %>">
                    <p id="nacionalityMsg"></p>
                    <p class="form_error_msg"><%= locals.errors && errors.nacionality? errors.nacionality.msg : null%> </p>
                </div>
                <div class="input-field col-12 col-md-6">
                    <label class="colorLabek" for="numero de documento" >Número de documento</label>
                    <input class="form-control" type="text" placeholder="(sin puntos)" id="documentNumber" name="document" value="<%= user.document %>">
                    <p id="documentNumberMsg"></p>
                    <p class="form_error_msg"><%= locals.errors && errors.document? errors.document.msg : null%> </p>
                </div>
                <div class="input-field col-12 col-md-6">
                    <label class="colorLabek" for="genero" >Género</label>
                    <input class="form-control" type="text" placeholder="Seleccionar" id="genre" name="gender" value="<%= user.gender %>">
                    <p id="genreMsg"></p>
                    <p class="form_error_msg"><%= locals.errors && errors.gender? errors.gender.msg : null%> </p>
                </div>
               
                <div class="input-field col-12 col-md-6">
                    <label class="colorLabek" for="fecha">Fecha de nacimiento*</label>
                    <input class="form-control" type="date" name="birthday" id="birthday" value="<%= locals.old && old.birthday ? moment(old.birthday).format('YYYY-MM-DD') : null %>" min="1985-01-01" max="2022-12-31">
                    <p class="errorNombre"></p>
                    <p class="form_error_msg"><%= locals.errors && errors.birthday? errors.birthday.msg : null%> </p>
                </div>
                
                <div class="row gap-1 mx-auto">
                    <h4>Imagen de Perfil</h4>
                    <div class="input-field col-12 col-md-6"><img src="/images/avatars/defaultUser.png" height="70%" width="50%" alt="">
                        <div class="m-2 w-50">
                            <label for="images" class="btn btn-success " width="50%">Cargar Imagen de Perfil</label>
                            <input type="file" name="avatar" id="avatar" hidden multiple />
                            </div>
                    </div>
                    
                    <div class="col-12 col-md-6 col-lg-8">
                      <div id="preview" class="d-flex justify-content-around">
                       
                      </div>
                      <p class="text-danger">
                        <%= locals.errors && errors.images ? errors.images.msg : null %>
                      </p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        
                          <button type="submit" id="editionProductButton" class="btn btn-primary w-100 m-2" width="50%">Guardar
                            Cambios</button>
                  
                    </div>
                </div>
            </form>
        </section>
    </main>
    <%- include("./partials/footer") %> 

    <script src="/javascripts/profile.js"></script>
</body>
</html>